
@font-face {
  font-family: 'tahoma';
  src: url('./tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahomaBold';
  src: url('./tahomabd.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}
* {
  font-family: 'thaoma';
}
p {margin: 0}
/*.menu:hover {
  opacity: 0.8;
}
.social:hover {
  transform: scale(1.2);
}
.social {
  transition: all 0.5s;
}
.menu {
  transition: all 0.7s;
}
.servicioLink:hover {
  transform: scale(1.1);
  background: -webkit-radial-gradient(rgba(220, 220, 220, 0.5), white 70%);
  text-shadow: 1px 1px 2px #eee, 0 0 1em #eee, 0 0 0.2em #eee;
}
.servicioLink {
  transition: all 0.4s;
}
.nota:hover {
  background: -webkit-radial-gradient(rgba(200, 200, 200, 0.6), white 70%);
}
.nota {
  transition: all 0.6s;
  cursor: pointer;
}
.notaimg:hover {
  transform: scale(1.25) rotateZ(10deg);
}
.notaimg {
  transition: all 4s ease-out 0s;
}
.enlace:hover {
  opacity: 0.8;
  transform: scale(1.1);
  background: -webkit-radial-gradient(rgba(220, 220, 220, 0.5), white 70%);
  text-shadow: 1px 1px 2px #eee, 0 0 1em #eee, 0 0 0.2em #eee;
}
.enlace {
  cursor: pointer;
  transition: all 0.4s;
}
.convenio:hover {
  opacity: 0.87;
  transform: scaleX(1.08);
}
.convenio {
  cursor: pointer;
  transition: all 0.4s;
}
.footerbar {
  border-right: 2px solid white;
}*/
