@font-face {
  font-family: 'tahoma';
  src: url('./tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tahomaBold';
  src: url('./tahomabd.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}
* {
  font-family: 'thaoma';
}
p {margin: 0}
